<div class="toolbar-parent">
  <div class="row toolbar">
    <div class="col-auto">
      <a routerLink="/">
        <img alt="bermesiah" class="logo" src="../assets/logo.png" />
      </a>
    </div>
    <div class="col align-self-center">
      <!-- <h3><b>Ronan</b></h3> -->
    </div>
    <div class="col-auto align-self-center">
      <a href="https://twitter.com/Ronan0521"
        ><img alt="twitter" class="icon" src="../assets/twitter.png"
      /></a>
    </div>
    <div class="col-auto align-self-center">
      <img alt="discord" class="icon" src="../assets/discord.png" />
    </div>
    <!-- <div class="col-auto align-self-center">
      <button class="connect">Connect Wallet</button>
    </div> -->
  </div>
</div>
