<div class="header">
  <h1><b>Bermesiah</b></h1>
</div>
<div class="sub-header">Develop metaverse to everyone.</div>
<img class="big-banner" src="../assets/big-banner.png" />
<div class="row small-banner-bg">
  <div class="col-12 col-sm-6 small-banner-parent">
    <img class="small-banner" src="../assets/small-banner.png" />
  </div>
  <div class="col description align-self-center">
    <h3 class="margin-bottom-10">
      <b>Every Web3 project should build a metaverse</b>
    </h3>
    In our metaverse, you can chat with each other, buy a land, create a project
    or event to earn tokens, let more people know Web3 is coming.
  </div>
</div>
<div class="row">
  <div class="col-12 mining-header">
    <h2 class="margin-bottom-10"><b>Get your NFT</b></h2>
    <div>
      You can claim NFT by sharing a Twitter post, or mint additional NFT by
      paying a 10 MATIC mining fee.
    </div>
  </div>
  <div class="row card-parent justify-content-center align-items-end">
    <div class="col-auto margin-bottom-10">
      <div class="margin-10">
        <div class="normal"><b>100% NORMAL</b></div>
      </div>
      <div class="mining-card">
        <div class="mining-card-child">
          <img class="card-image" src="../assets/free-mint.png" />
          <div class="free">
            <b>FREE</b>
          </div>
        </div>
        <button class="card-button">Claim(Coming soon)</button>
      </div>
    </div>
    <div class="col-auto margin-bottom-10">
      <div class="margin-10">
        <div class="normal"><b>64% NORMAL</b></div>
      </div>
      <div class="margin-10">
        <div class="rare"><b>33% RARE</b></div>
      </div>
      <div class="margin-10">
        <div class="super-rare"><b>3% SUPER RARE</b></div>
      </div>
      <div class="mining-card">
        <div class="mining-card-child">
          <img class="card-image" src="../assets/paid-mint.png" />
          <div class="eth">
            <b>10 MATIC</b>
          </div>
        </div>
        <button class="card-button">Mint(Coming Soon)</button>
      </div>
    </div>
  </div>
</div>
<div class="row small-banner-bg">
  <div class="col-12 col-sm-6 small-banner-parent">
    <img class="small-banner" src="../assets/rarity-banner.png" />
  </div>
  <div class="col description align-self-center">
    <h2 class="margin-bottom-10">
      <b>Rarity</b>
    </h2>
    <h4 class="margin-bottom-10">
      Everyone need a NFT to enter metaland, higher rarity will get more
      benifit.
    </h4>
  </div>
</div>
<div>
  <br />
  <div class="roadmap-header">
    <h2><b>Roadmap</b></h2>
  </div>
  <br />
  <div class="row margin-10">
    <div class="col-12 col-sm-4 margin-bottom-10">
      <img
        alt="initial phase"
        class="roadmap-img"
        src="../assets/initial-phase.png"
      />
      <br />
      <div class="roadmap-header">
        <h5><b>Initial phase</b></h5>
      </div>
      <div class="roadmap-header">
        Doing research of metaverse features, develop the prototype of metaland.
      </div>
    </div>
    <div class="col-12 col-sm-4 margin-bottom-10">
      <img
        alt="second phase"
        class="roadmap-img"
        src="../assets/second-phase.png"
      />
      <br />
      <div class="roadmap-header">
        <h5><b>Second phase</b></h5>
      </div>
      <div class="roadmap-header">
        Start promotion of metaverse, create website introduce the idea.
      </div>
    </div>
    <div class="col-12 col-sm-4 margin-bottom-10">
      <img
        alt="third phase"
        class="roadmap-img"
        src="../assets/third-phase.png"
      />
      <br />
      <div class="roadmap-header">
        <h5><b>Third phase</b></h5>
      </div>
      <div class="roadmap-header">
        Create NFT of Bermesiah collection, the NFT used in metaverse, higher
        rarity will get more benifit.
      </div>
    </div>
    <div class="col-12 col-sm-4 margin-bottom-10">
      <img
        alt="project launch"
        class="roadmap-img"
        src="../assets/project-launch.png"
      />
      <br />
      <div class="roadmap-header">
        <h5><b>Project launch</b></h5>
      </div>
      <div class="roadmap-header">
        Everyone can buy the land, write bios in NFT, meet more people in here.
      </div>
    </div>
    <div class="col-12 col-sm-4 margin-bottom-10">
      <img
        alt="token launch"
        class="roadmap-img"
        src="../assets/token-launch.png"
      />
      <br />
      <div class="roadmap-header">
        <h5><b>Token launch</b></h5>
      </div>
      <div class="roadmap-header">
        The owner of Bermesiah collection will get free tokens, if someone want
        to launch a new project, you can donate tokens to it.
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <img alt="future" class="roadmap-img" src="../assets/future.png" />
      <br />
      <div class="roadmap-header">
        <h5><b>Future</b></h5>
      </div>
      <div class="roadmap-header">
        Hope everyone love Web3 and I will add more feature in metaverse.
      </div>
    </div>
  </div>
</div>
<div class="ama">
  <div class="padding-30">
    <h2 class="ama-header margin-bottom-10"><b>Ask me anything</b></h2>
    <!-- <h3 class="ama-sub-header"><b>What is the mission?</b></h3>
    <div class="margin-bottom-10">
      Create a platform for trading ERC20 tokens between public and private
      blockchain, 0.3% platform fee will be charged for each transaction, and
      holders of Ronan NFT can trade for free.
    </div> -->
    <h3 class="ama-sub-header">
      <b>When can I start to mint Bermesiah NFT?</b>
    </h3>
    <div class="margin-bottom-10">
      Please follow my Twitter account at top right corner, the mining event
      will start on this month (2022/04).
    </div>
    <h3 class="ama-sub-header"><b>How many Bermesiah NFT in total?</b></h3>
    <div class="margin-bottom-10">
      It has 1,000,000 combination in Bermesiah collection, one wallet per one
      twitter account can mint single NFT and mint unlimit NFT with mining fee.
      The 100,000 combination will start in first event.
    </div>
    <h3 class="ama-sub-header"><b>What can I use with Bermesiah NFT?</b></h3>
    <div>
      You can use it whatever you want, if you use it in our metaverse, you can
      get free tokens or free metaland, it will have more benifit in future.
    </div>
  </div>
</div>
<div class="team">
  <h2 class="text-center margin-bottom-10"><b>Team</b></h2>
  <h4 class="text-center margin-bottom-10">
    I don't have any team, the whole project is developed by me personally.
  </h4>
  <div class="row justify-content-center margin-bottom-10">
    <div class="col-auto">
      <img
        alt="personal logo"
        class="personal-icon"
        src="../assets/personal-logo.png"
      />
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-auto">
      <img alt="twitter" class="twitter-icon" src="../assets/twitter.png" />
    </div>
    <div class="col-auto twitter-id">
      <a href="https://twitter.com/Ronan0521"><b>Ronan0521</b></a>
    </div>
  </div>
</div>
