<div class="footer">
  <div class="row">
    <div class="col">
      <div class="margin-bottom-10">
        <a routerLink="/terms"><b>Terms</b></a>
      </div>
      <div>
        <a routerLink="/privacy"><b>Privacy</b></a>
      </div>
    </div>
    <div class="col">
      <div class="row justify-content-end social">
        <div class="col-auto align-self-center">
          <a href="mailto:cs@bermesiah.com"
            ><img alt="mail" class="icon" src="../assets/mail.png"
          /></a>
        </div>
        <div class="col-auto align-self-center">
          <a href="https://twitter.com/Ronan0521"
            ><img alt="twitter" class="icon" src="../assets/twitter-white.png"
          /></a>
        </div>
        <div class="col-auto align-self-center">
          <img alt="discord" class="icon" src="../assets/discord-white.png" />
        </div>
      </div>
    </div>
  </div>
</div>
